.header__list-item {
  margin-right: 35px;
}

.header__list-item:last-of-type {
  margin: 0;
}

@media screen and (min-width: 1920px) {
  .header__list-item {
    margin-right: 52px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .header__list-item {
    margin-right: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__list-item  {
    margin: 0 0 20px 0;
  }
}
