.people__feedback-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 122px;
  padding: 0;
}

@media screen and (min-width: 1920px) {
  .people__feedback-container {
    margin-top: 185px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .people__feedback-container {
    margin-top: 137px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .people__feedback-container {
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .people__feedback-container {
    margin-top: 40px;
  }
}
