.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 40px;
  margin: 29px auto 63px;
  padding: 0 70px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 2;

  background: #ffffff;
}

@media screen and (min-width: 1920px) {
  .header  {
    margin: 58px 0 104px;
    padding: 0 103px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .header  {
    margin: 34px 0 77px;
    padding: 0 77px;
  }
}

@media screen and (max-width: 768px) {
  .header  {
    position: static;
    margin: 40px 0 50px 0;
  }
}

@media screen and (max-width: 450px) {
  .header  {
    position: static;
    margin: 25px 0 55px 0;
    padding: 0 25px;
  }
}
