.people__feedback {
  max-width: 245px;
}

@media screen and (min-width: 1920px) {
  .people__feedback {
    max-width: 360px;
  }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .people__feedback {
    max-width: 272px;
  }
}
