.intro {
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-bottom: 132px;
}

.intro .section-subtitle {
  margin-bottom: 30px;
}

@media screen and (min-width: 1920px) {
  .intro {
    padding-left: 103px;
    margin-bottom: 198px;
  }

  .intro .section-subtitle {
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .intro {
    padding-left: 77px;
    margin-bottom: 150px;
  }

  .intro .section-subtitle {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    padding: 0 25px;
    margin-bottom: 50px;
  }
}