.intro {
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-bottom: 132px;
}

.intro .section-subtitle {
  margin-bottom: 30px;
}

@media screen and (min-width: 1920px) {
  .intro {
    padding-left: 103px;
    margin-bottom: 198px;
  }

  .intro .section-subtitle {
    margin-bottom: 55px;
  }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .intro {
    padding-left: 77px;
    margin-bottom: 150px;
  }

  .intro .section-subtitle {
    margin-bottom: 40px;
  }
}
