.places__text-container {
  padding: 63px 180px 85px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.places__text-container:nth-child(2) {
  text-align: left;
}

@media screen and (min-width: 1920px) {
  .places__text-container {
    padding: 91px 180px 125px 110px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .places__text-container {
    padding: 66px 202px 94px 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__text-container {
    padding: 49px 140px 67px 57px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__text-container {
    padding: 38px 30px 24px 42px;
  }
}

@media screen and (max-width: 767px) {
  .places__text-container {
    padding: 30px 18px 24px;
  }

  .places__text-container:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .places__text-container:nth-child(3) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

