.footer {
  min-height: 620px;
  background-color: #fecda7;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .footer {
    min-height: 928px;
  }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .footer {
    min-height: 695px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    min-height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    min-height: 300px;
  }
}
